  .word {
    font-size: 150%;
  }

  aside {
    padding: 0px;
    width: 260px;
    float: right;
    font-size: small;
  }

  article {
    padding: 5px;
    margin-right: 600px;
    display: block;
    line-height: 1.6;
  }

  h4 {
    margin-bottom: -15px;
  }

  h6 {
    border-bottom: 2px solid black;
    /* Параметры линии под текстом */
    font-weight: normal;
    /* Убираем жирное начертание */
    padding-bottom: 5px;
    /* Расстояние от текста до линии */
    margin-bottom: -10px;
  }
